<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        body {
            font-family: 'Franklin Gothic';
        }

        table, th, tr, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        table {
            width: 100%;
        }

        th {
            font-size: 16px;
            border-bottom: double;
        }

        td {
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 7px;
        }

        .timeHead {
            font-weight: bold;
        }

        @@media only screen and (max-width: 768px) {
            table, thead, tbody, th, td, tr {
                display: block;
            }

            thead tr {
                position: absolute;
                left: -9999px;
                top: -9999px;
            }

            td {
                border: none;
                border-bottom: 1px solid #ccc;
                position: relative;
                padding-left: 50%;
            }

            td::before {
                position: absolute;
                left: 1px;
                width: 30%;
                padding-left: 5%;
                font-weight: bold;
                white-space: nowrap;
            }

                td:nth-of-type(1):before {
                    content: "Id";
                }

                td:nth-of-type(2):before {
                    content: "Time";
                }

                td:nth-of-type(3):before {
                    content: "UTC";
                }

                td:nth-of-type(4):before {
                    content: "Client IP Address";
                }

            p, select {
                width: 100%;
                max-width: 410px;
            }
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
